include/*.a

#CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.cmake

src/0.template
src/1.twoSums
src/2.addTwoNumbers
test/test_listnode
test/test_tree
build
